.header {
    background-color: #fff;
    position: relative;
    z-index: 10;
    height: 64px;
}

.logo {
    overflow: hidden;
    padding-left: 40px;
    float: left;
    line-height: 64px;
    text-decoration: none;
    height: 64px;
}

.logo :global(img) {
    display: inline;
    vertical-align: middle;
    margin-right: 16px;
    width: 32px;
}

.logo :global(span) {
    outline: none;
    font-size: 14px;
    line-height: 28px;
}

.header-meta {
    padding-right: 40px;
}

.menu {
    float: right;
    overflow: hidden;
    height: 64px;
}

.menu :global(.ant-menu) {
    line-height: 60px;
}

.menu :global(.ant-menu-horizontal) {
    border-bottom: none;
}